<div class="container w-50 bg-light">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre:</th>
            <th scope="col">Precio</th>
            <th scope="col">Foto</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Probeta</td>
                <td>$100</td>
                <td><img src="https://cdn3.iconfinder.com/data/icons/education-209/64/tube-lab-science-school-128.png" alt="Girl in a jacket" width="40" height="40"></td>
              </tr>
              <tr>
                <td>Probeta</td>
                <td>$100</td>
                <td><img src="https://cdn3.iconfinder.com/data/icons/education-209/64/tube-lab-science-school-128.png" alt="Girl in a jacket" width="40" height="40"></td>
              </tr>
              <tr>
                <td>Probeta</td>
                <td>$100</td>
                <td><img src="https://cdn3.iconfinder.com/data/icons/education-209/64/tube-lab-science-school-128.png" alt="Girl in a jacket" width="40" height="40"></td>
              </tr>
        </tbody>
      </table>
</div>

